*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
}


.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 70px;
}


.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 500;
}

.header__nav--link:hover{
    font-weight: 700;
}


