*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
}


.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 70px;
}


.header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 500;
}

.header__nav--link:hover{
    font-weight: 700;
}


/* hero */
.hero{
    width: 100%;
    height: 865px;
    background: linear-gradient(60deg, #FF9D2D 40%, #FFD877);
    border-radius: 35px;
    margin-bottom: 130px;
    position: relative;
}

.hero__img{
    position: absolute;
    left: 0;
    margin-top: 100px;
}
