/* Kodchasan */
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Kodchasan", sans-serif;
}


.conteiner{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 70px;
}


.header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav--link{
    font-size: 18px;
    font-weight: 500;
}

.header__nav--link:hover{
    font-weight: 700;
}


/* hero */
.hero{
    width: 100%;
    height: 865px;
    background: linear-gradient(60deg, #FF9D2D 40%, #FFD877);
    border-radius: 35px;
    margin-bottom: 130px;
    position: relative;
    padding: 100px 200px ;
}

.hero__img{
    position: absolute;
    left: 0;
    margin-top: 30px;
}

.boxs{
    display: flex;
    justify-content: space-between;
}

.boxs__text--text{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 35px;
}

.boxs__text--text2{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 35px;
    margin-left: 100px;
}

.boxs__text--box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 70px;
}

.boxs__text--text3{
    font-size: 100px;
    font-weight: 700;
}


.boxs__btn{
    display: flex;
    align-items: center;
    gap: 55px;
}

.boxs__btn--button{
    padding: 20px 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 700;
    border-radius: 6px;
}



